.search{
    padding: 2%

}
.inp{


    width: 348px !important;
    height: 34px !important;

    background: rgba(217, 217, 217, 0.5);
    border-radius: 5px;

 
}



.se1{
    float:right;

    margin:10px;

    border:none;
    margin-right:0%
}


.gen{
    margin-right: 50%;
    width: 224px;
    height: 41.32px;
    left: 10px;
    top: 173px;
    border:none;
    background: #0EB11E;
    border-radius: 5px;
}