<div class="date row">
  <p class="col">
    From &nbsp;&nbsp;<input
      type="calendar"
      class="inp"
      placeholder="10/25/2022"
    />
  </p>
  <p class="col">
    To &nbsp;&nbsp;<input
      type="calendar"
      class="inp"
      placeholder="10/25/2022"
    />
  </p>
</div>

<div class="gene row">
  <button class="gen">Generate Report</button>

  <input class="inp se1" placeholder="Search" type="text" />
</div>

<div class="table_size">
  <mat-progress-bar
    mode="indeterminate"
    [hidden]="hideProgressbar"
  ></mat-progress-bar>

  <table>
    <thead>
      <tr>
        <!-- <th scope="col">No.</th> -->
        <th scope="col">Date</th>
        <th scope="col">Sender</th>
        <th class="ac" scope="col">Recipient</th>
        <th class="ac" scope="col">Destination</th>
        <th class="ac" scope="col">Status</th>
        <th class="ac" scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let report of reportsList">
        <!-- <td data-label="No.">1</td> -->
        <td data-label="Date">{{ getStatus(report) }}</td>
        <td data-label="Sender">{{ report.sfullname }}</td>
        <td data-label="Recipient">{{ report.rfullname }}</td>
        <td data-label="Destination">{{ report.raddress }}</td>
        <td data-label="Status">Successfull</td>
        <td>
          <button class="edit_btn col" (click)="openViewDeployedDialog(report)">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
        </td>
      </tr>

      <!-- <tr>
        <td data-label="No.">2</td>
        <td data-label="Name">ROLAN</td>
        <td data-label="Location">GREAT WALL</td>
        <td data-label="Date">08/03/22</td>
        <td data-label="Time">8:00 AM</td>
      </tr>

      <tr>
        <td data-label="No.">3</td>
        <td data-label="Name">SANTOS</td>
        <td data-label="Location">EL NIDO</td>
        <td data-label="Date">08/03/22</td>
        <td data-label="Time">8:00 AM</td>
      </tr>

      <tr>
        <td data-label="No.">4</td>
        <td data-label="Name">MICHAEL</td>
        <td data-label="Location">NCCC</td>
        <td data-label="Date">08/03/22</td>
        <td data-label="Time">8:00 AM</td>
      </tr>

      <tr>
        <td data-label="No.">5</td>
        <td data-label="Name">CZARINA</td>
        <td data-label="Location">SAN JOSE</td>
        <td data-label="Date">08/03/22</td>
        <td data-label="Time">8:00 AM</td>
      </tr> -->
    </tbody>
  </table>
</div>

<div class="close">
  <button class="btn cls_btn">Close</button>
</div>
