<p>
  <mat-progress-bar
    mode="indeterminate"
    [hidden]="progressBar"
  ></mat-progress-bar>
  <mat-form-field appearance="fill">
    <mat-label>CONFIRM PASSWORD</mat-label>
    <input
      [formControl]="confirmPassword"
      matInput
      [type]="hideconfirm ? 'password' : 'text'"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hideconfirm = !hideconfirm"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hideconfirm"
    >
      <mat-icon>{{ hideconfirm ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
</p>

<button mat-raised-button color="primary" (click)="verifyPassword()">
  CONFIRM PASSWORD
</button>
<br>
<br>

<p *ngIf="isPasswordConfirmed">
  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input (keydown)="removeError()" [formControl]="PasswordChange" matInput [type]="hide ? 'password' : 'text'" />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
</p>
<p *ngIf="isPasswordConfirmed">
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input (keydown)="removeError()" [formControl]="confirmPasswordChange" matInput [type]="hideconfirmchange ? 'password' : 'text'" />
      <button
        mat-icon-button
        matSuffix
        (click)="hideconfirmchange = !hideconfirmchange"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideconfirmchange"
      >
        <mat-icon>{{ hideconfirmchange ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
  </p>

  <mat-error *ngIf="!error">PASSWORD NOT MATCHED</mat-error>

  <button *ngIf="isPasswordConfirmed" mat-raised-button color="primary" (click)="changePassword()" >
    CHANGE PASSWORD
  </button>