
<div class="sidenav_container">
    <div class="title">
        <p>ALLANBOY <br>Trucking Services</p>
    </div>
    <div class="dashboard">
        <button class="icon_btn"><mat-icon>dashboard</mat-icon></button>
        <a routerLink="dashboard">DASHBOARD</a>
    </div>
    
    <div class="employee">
        <button class="icon_btn"><mat-icon>person</mat-icon></button>
        <a routerLink="dashboard">EMPLOYEE</a>
    </div>

    <div class="trucks">
        <button class="icon_btn"><mat-icon>local_shipping</mat-icon></button>
        <a routerLink="dashboard">TRUCKS</a>
    </div>

    <div class="status">
        <button class="icon_btn"><mat-icon>query_builder</mat-icon></button>
        <a routerLink="dashboard">STATUS</a>
    </div>

    <div class="records">
        <button class="icon_btn"><mat-icon>description</mat-icon></button>
        <a routerLink="dashboard">RECORDS</a>
    </div>

    <div class="logout">
        <button class="icon_btn"><mat-icon>exit_to_app</mat-icon></button>
        <a routerLink="dashboard">LOGOUT</a>
    </div>

</div>



