
<div class="sidenav_container">
    <div class="title">
        <p>ALLANBOY <br>Trucking Services</p>
    </div>
    <div class="dashboard">
        <button class="icon_btn"><mat-icon>dashboard</mat-icon></button>
        <a routerLink="dashboard">DASHBOARD</a>
    </div>
    
    <div class="employee">
        <button class="icon_btn"><mat-icon>person</mat-icon></button>
        <a routerLink="employee">EMPLOYEE</a>
    </div>

    <div class="trucks">
        <button class="icon_btn"><mat-icon>local_shipping</mat-icon></button>
        <a routerLink="trucks">TRUCKS</a>
    </div>

    <!-- <div class="status">
        <button class="icon_btn"><mat-icon>query_builder</mat-icon></button>
        <a routerLink="status">STATUS</a>
    </div> -->
    <div class="records">
        <button class="icon_btn"><mat-icon>call_made</mat-icon></button>
        <a routerLink="deployed">DEPLOYED</a>
    </div>

    <div class="records">
        <button class="icon_btn"><mat-icon>description</mat-icon></button>
        <a routerLink="records">RECORDS</a>
    </div>

    <div class="records">
        <button class="icon_btn"><mat-icon>exit_to_app</mat-icon></button>
        <a routerLink="logout">LOGOUT</a>
    </div>

</div>



