.btn{
    height: 2%;
    margin: 2%;
    padding: 10px;
    border: none;
}

.deploy_btn{
    background-color: #0EB11E;
    width: 71px;
    height: 27px;
    border-radius: 10px;
    border: none;
    text-align: center;
    vertical-align: top;
    margin-right: 5%;
    color: white;
}

.deployed_btn{
    background-color: #273B4A;
    width: 76px;
    height: 27px;
    border-radius: 10px;
    border: none;
    text-align: center;
    vertical-align: top;
    margin-right: 5%;
    font-size: 14px;
    color: white;
}


.add_btn{
    width: 124px;
    height: 52px;
}
.available{
    width: 200px;
    height: 52px;
}
.all{
    width: 100px;
    height: 52px;
}

.search{
    margin: 1%;
    padding: 5px;
    width: 50%;
    // margin-top: 3%;
}