<div class="search row">
 
    <button (click)="openAddDialog()" class="add_btn btn">Add</button>
</div>

<div class="table_size">
    <table>
        <thead>
          <tr>
            <th scope="col">Truck Plate No.</th>
            <th scope="col">Truck Type</th>
            <th scope="col">Status</th>
            <th class="ac" scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label="Staff">42345tewdsv</td>
            <td data-label="Contact Number">42345tewdsv</td>
            <td data-label="Status">Available</td>
            <td data-label="Action">
                <button (click)="openDeployDialog()" class="deploy_btn col">Deploy</button> 
                <button class="edit_btn col"><mat-icon>edit</mat-icon></button>
                <button class="del_btn col"><mat-icon>delete_outline</mat-icon></button>
            </td>
            
          </tr>
          <tr>
            <td data-label="Staff">42345tewdsv</td>
            <td data-label="Contact Number">42345tewdsv</td>
            <td data-label="Status">Not Available</td>
            <td data-label="Action">
                <button class="deployed_btn col">Deployed</button> 
                <button class="edit_btn col"><mat-icon>edit</mat-icon></button>
                <button class="del_btn col"><mat-icon>delete_outline</mat-icon></button>
            </td>
          </tr>
        </tbody>
      </table>

</div>

<div class="close">
    <button class="btn cls_btn">Close</button>
</div>
