<div class="search row">
  

  <mat-form-field appearance="outline" class="search">
    <mat-label>SEARCH</mat-label>
    <input
      (keydown)="onChange()"
      matInput
      placeholder="SEARCH"
      [formControl]="search"
      [(ngModel)]="searchValue"
      (ngModelChange)="onChange()"
    />
    <mat-icon matSuffix>search</mat-icon>
    <mat-hint>Search truck by plate no.</mat-hint>
  </mat-form-field>
  <button *ngIf="!fromStaff" (click)="openAddDialog()" class="add_btn btn">
    ADD NEW
  </button>
  <!-- <button class="available btn" (click)="filterByPosition(true)">AVAILABLE</button>
    <button class="available btn" (click)="filterByPosition(false)">NOT AVAILABLE</button>
    <button class="all btn" (click)="filterByPosition('all')">ALL</button> -->
</div>

<div class="table_size">
  <mat-progress-bar
    mode="indeterminate"
    [hidden]="hideProgressbar"
  ></mat-progress-bar>
  <table>
    <thead>
      <tr>
        <th scope="col">Truck Plate No.</th>
        <th scope="col">Truck Type</th>
        <th scope="col">Year model</th>
        <th class="ac" scope="col" *ngIf="!fromStaff">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let truck of dataObs$ | async">
        <td data-label="Staff">{{ truck.plateno }}</td>
        <td data-label="Contact Number">{{ truck.type }}</td>
        <td data-label="Status">{{ truck.yearmodel }}</td>
        <td data-label="Action" *ngIf="!fromStaff">
          <button (click)="openDeployDialog(truck)" class="deploy_btn col">
            Deploy
          </button>
          <button class="edit_btn col" (click)="openEditDialog(truck)">
            <mat-icon>edit</mat-icon>
          </button>
          <button class="del_btn col" (click)="openDeleteDialog(truck)">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </td>
      </tr>
      <!-- <tr>
            <td data-label="Staff">42345tewdsv</td>
            <td data-label="Contact Number">42345tewdsv</td>
            <td data-label="Status">Not Available</td>
            <td data-label="Action">
                <button class="deployed_btn col">Deployed</button> 
                <button class="edit_btn col"><mat-icon>edit</mat-icon></button>
                <button class="del_btn col"><mat-icon>delete_outline</mat-icon></button>
            </td>
          </tr> -->
    </tbody>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    [pageSize]="5"
  ></mat-paginator>
</div>

<!-- <div class="close">
    <button class="btn cls_btn">Close</button>
</div> -->
