<h1 matDialogTitle>DEPLOY A TRUCK</h1>

<mat-dialog-content>
  <table>
    <tr>
      <img
        src="../../../../assets/images/trucklogo.svg"
        alt=""
        style="margin-top: 20px"
      />
      <!-- Display truck details from trucks component -->
      <td style="width: 100%">
        <div class="d-flex justify-content-around td-height">
          <div><b>Truck type:</b> {{ data.type }}</div>
          <div><b>Max load capacity:</b> {{ data.capacity }}</div>
        </div>
        <div class="d-flex justify-content-around td-height">
          <div><b>Plate number:</b> {{ data.plateno }}</div>
          <div><b>Engine number:</b> {{ data.engineno }}</div>
        </div>
        <div class="d-flex justify-content-around td-height">
          <div><b>Chassis Number: </b> {{ data.chassis }}</div>
          <div><b>Year model:</b> {{ data.yearmodel }}</div>
        </div>
      </td>
    </tr>
  </table>

  <div class="details">
    <form #deployForm [formGroup]="deployFormGroup">
      <mat-tab-group>
        <!-- SENDER -->
        <mat-tab label="Sender Details">
          <mat-form-field appearance="outline">
            <mat-label>FULL NAME/COMPANY NAME</mat-label>
            <input formControlName="sfullname" matInput placeholder="ENTER FULL NAME/COMPANY NAME"/>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>CONTACT NO.</mat-label>
            <input (keypress)="numberOnly($event)" type="text" onlyNumber ngModel pattern="[0-9]*" maxlength="11" formControlName="scontactno" matInput placeholder="ENTER CONTACT NO."/>
          </mat-form-field>

          <br />

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>ADDRESS</mat-label>
            <input formControlName="saddress" matInput placeholder="ENTER ADDRESS"/>
          </mat-form-field>
        </mat-tab>

        <!-- RECIPIENT -->
        <mat-tab label="Recipient Details">
          <mat-form-field appearance="outline">
            <mat-label>FULL NAME/COMPANY NAME</mat-label>
            <input formControlName="rfullname" matInput placeholder="ENTER FULL NAME/COMPANY NAME"/>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>CONTACT NO.</mat-label>
            <input (keypress)="numberOnly($event)" type="text" onlyNumber ngModel pattern="[0-9]*" maxlength="11" formControlName="rcontactno" matInput placeholder="ENTER CONTACT NO."/>
          </mat-form-field>

          <br/>
          
          <!-- <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Single Drop-Off</mat-radio-button>
            <mat-radio-button value="2">Multiple Drop-Off</mat-radio-button>
          </mat-radio-group> -->

          <br/>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>ADDRESS</mat-label>
            <input formControlName="raddress" matInput placeholder="ENTER ADDRESS 1"/>
          </mat-form-field>
        </mat-tab>

        <!-- other details -->
        <mat-tab label="Other Details">
          <!-- <mat-form-field appearance="outline">
            <mat-label>DRIVER</mat-label>
            <input formControlName="driver" matInput placeholder="DRIVER" />
          </mat-form-field> -->
          <mat-form-field appearance="outline">
            <mat-label>SELECT DRIVERS</mat-label>
            <mat-select
              [(ngModel)]="selectedDriver" formControlName="driver" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let driver of driverList" [value]="driver">
                {{ driver.fname }} {{ driver.lname }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>CONTAINER VAN NO.</mat-label>
            <input
              formControlName="containervanno"
              matInput
              placeholder="CONTAINER VAN NO."
            />
          </mat-form-field>
          <!-- <mat-form-field appearance="outline">
            <mat-label>HELPER</mat-label>
            <input formControlName="helper1" matInput placeholder="HELPER" />
          </mat-form-field> -->

          <mat-form-field appearance="outline">
            <mat-label>HELPER</mat-label>
            <mat-select [(ngModel)]="selectedHelper1" (selectionChange)="onChange(selectedHelper1)" formControlName="helper1" required>
              <mat-option>--</mat-option>
              <ng-container *ngFor="let helper of helperList">
                <mat-option
                  [value]="helper"
                  *ngIf="
                    helper != selectedHelper2 &&
                    helper != selectedHelper4 &&
                    helper != selectedHelper3 
                  "
                >
                  {{ helper.fname }} {{ helper.lname }}
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>

          <br />
          <!-- <mat-form-field appearance="outline">
            <mat-label>EXTRA HELPER</mat-label>
            <input formControlName="helper2" matInput placeholder="EXTRA HELPER" />
          </mat-form-field> -->
          <mat-form-field appearance="outline">
            <mat-label>EXTRA HELPER</mat-label>
            <mat-select
              [(ngModel)]="selectedHelper2"
              (selectionChange)="onChange(selectedHelper2)"
              formControlName="helper2"
              required
            >
              <mat-option>--</mat-option>
              <ng-container *ngFor="let helper of helperList">
                <mat-option
                  [value]="helper"
                  *ngIf="
                    helper != selectedHelper1 &&
                    helper != selectedHelper4 &&
                    helper != selectedHelper3 
                  "
                >
                  {{ helper.fname }} {{ helper.lname }}
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>

          <!-- <mat-form-field appearance="outline">
            <mat-label>EXTRA HELPER</mat-label>
            <input
              formControlName="helper3"
              matInput
              placeholder="EXTRA HELPER"
            />
          </mat-form-field> -->

          <mat-form-field appearance="outline">
            <mat-label>EXTRA HELPER</mat-label>
            <mat-select
              [(ngModel)]="selectedHelper3"
              (selectionChange)="onChange(selectedHelper3)"
              formControlName="helper3"
              required
            >
              <mat-option>--</mat-option>
              <ng-container *ngFor="let helper of helperList">
                <mat-option
                  [value]="helper"
                  *ngIf="
                    helper != selectedHelper1 &&
                    helper != selectedHelper4 &&
                    helper != selectedHelper2
                  "
                >
                  {{ helper.fname }} {{ helper.lname }}
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>EXTRA HELPER</mat-label>
            <mat-select
              [(ngModel)]="selectedHelper4"
              (selectionChange)="onChange(selectedHelper4)"
              formControlName="helper4"
              required
            >
              <mat-option>--</mat-option>
              <ng-container *ngFor="let helper of helperList">
                <mat-option
                  [value]="helper"
                  *ngIf="
                    helper != selectedHelper1 &&
                    helper != selectedHelper2 &&
                    helper != selectedHelper3 
                  "
                >
                  {{ helper.fname }} {{ helper.lname }}
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </mat-tab>
      </mat-tab-group>
    </form>

    <!-- data -->
  </div>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button
    mat-button
    matDialogClose
    [disabled]="!deployFormGroup.valid"
    (click)="deploy(deployFormGroup.value)"
  >
    DEPLOY
  </button>
</mat-dialog-actions>
