<h1 matDialogTitle>Title</h1>

<mat-dialog-content>
  <table>
    <tr>
      <img
        src="../../../../assets/images/trucklogo.svg"
        alt=""
        style="margin-top: 20px"
      />
      <!-- Display truck details from trucks component -->
      <td style="width: 100%">
        <div class="d-flex justify-content-around td-height">
          <div><b>Truck type:</b> {{ data.type }}</div>
          <div><b>Max load capacity:</b> {{ data.capacity }}</div>
        </div>
        <div class="d-flex justify-content-around td-height">
          <div><b>Plate number:</b> {{ data.plateno }}</div>
          <div><b>Engine number:</b> {{ data.engineno }}</div>
        </div>
        <div class="d-flex justify-content-around td-height">
          <div><b>Chassis Number: </b> {{ data.chassis }}</div>
          <div><b>Year model:</b> {{ data.yearmodel }}</div>
        </div>
      </td>
    </tr>
  </table>

  <div class="details">
    <mat-tab-group>
      <mat-tab label="Sender Details">
        <mat-form-field appearance="outline">
          <mat-label>FULL NAME</mat-label>
          <input matInput placeholder="ENTER FULL NAME" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>CONTACT NO.</mat-label>
          <input matInput placeholder="ENTER CONTACT NO." />
        </mat-form-field>
        <br />
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>ADDRESS</mat-label>
          <input matInput placeholder="ENTER ADDRESS" />
        </mat-form-field>
      </mat-tab>
      <mat-tab label="Recipient Details">
        <mat-form-field appearance="outline">
          <mat-label>FULL NAME</mat-label>
          <input matInput placeholder="ENTER FULL NAME" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>CONTACT NO.</mat-label>
          <input matInput placeholder="ENTER CONTACT NO." />
        </mat-form-field>
        <br />
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>ADDRESS</mat-label>
          <input matInput placeholder="ENTER ADDRESS" />
        </mat-form-field>
      </mat-tab>
      <!-- other details -->
      <mat-tab label="Other Details">
        <mat-form-field appearance="outline">
          <mat-label>SAMPLE</mat-label>
          <input matInput placeholder="SAMPLE" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>SAMPLE</mat-label>
          <input matInput placeholder="SAMPLE" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>SAMPLE</mat-label>
          <input matInput placeholder="SAMPLE" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>SAMPLE</mat-label>
          <input matInput placeholder="SAMPLE" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>SAMPLE</mat-label>
          <input matInput placeholder="SAMPLE" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>SAMPLE</mat-label>
          <input matInput placeholder="SAMPLE" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>SAMPLE</mat-label>
          <input matInput placeholder="SAMPLE" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>SAMPLE</mat-label>
          <input matInput placeholder="SAMPLE" />
        </mat-form-field>
      </mat-tab>
    </mat-tab-group>

    <!-- data -->
  </div>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-button matDialogClose>DEPLOY</button>
</mat-dialog-actions>
