<h1 matDialogTitle>UPDATE EMPLOYEE</h1>

<mat-dialog-content>
  <form #employeeForm="ngForm" [formGroup]="formGroup">
    <mat-form-field appearance="outline">
      <mat-label>First name</mat-label>
      <input formControlName="fname" matInput placeholder="First name" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Last name</mat-label>
      <input formControlName="lname" matInput placeholder="Last name" />
    </mat-form-field>

    <br />

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput placeholder="Email" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Contact no</mat-label>
      <input formControlName="contactno" matInput placeholder="Contact no" />
    </mat-form-field>

    <br />

    <mat-form-field appearance="outline">
      <mat-label>Birthdate</mat-label>
      <input formControlName="birthdate" matInput placeholder="Birthdate" />
    </mat-form-field>

    <br />
    <mat-form-field appearance="outline" style="width: 100% !important">
      <mat-label>Address</mat-label>
      <input formControlName="address" matInput placeholder="Address" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline">
      <mat-label>Position</mat-label>
      <mat-select formControlName="position" name="Position">
        <mat-option *ngFor="let p of position" [value]="p">
          {{ p }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        formControlName="password"
        matInput
        placeholder="Password"
        [type]="hide ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>

    <!-- <mat-form-field appearance="outline">
      <mat-label>Confirm password</mat-label>
      <input
        formControlName="cpassword"
        matInput
        placeholder="Confirm password"
        [type]="hide1 ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide1 = !hide1"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide1"
      >
        <mat-icon>{{ hide1 ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field> -->

    <br />
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button matDialogClose>CLOSE</button>
  <button
    mat-button
    color="primary"
    [disabled]="!formGroup.valid"
    (click)="updateEmployee(employeeForm.value)"
    matDialogClose
  >
    UPDATE
  </button>
</mat-dialog-actions>

<!-- [disabled]="!formGroup.valid" -->
