<div class="add-dialog">
    <div class="title">
        <p>Staff Details</p>
    </div>
    <div class="dia-content-main">
        <div class="dia-content row">
            <p class="inps row col">Name &nbsp;&nbsp;<input class="inp col" type="text"></p>
            <p class="inps row col">Email &nbsp;&nbsp;<input class="inp col" type="text"></p>
        </div>
    
        <div class="dia-content row">
            <p class="inps row col">Age &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input class="inp col" type="text"></p>
            <p class="inps row col">Password &nbsp; &nbsp; <input class="inp col" type="text"></p>
        </div>
    
        <div class="dia-content row">
            <p class="inps row col">Address &nbsp;&nbsp;<input class="inp col" type="text"></p>
            <p class="inps row col">Contact No. &nbsp;<input class="inp col" type="text"></p>
        </div>
    </div>

    <div class="add-btn">
        <button class="add_btn">EDIT</button>
    </div>
</div>
