<!--STAFF TABLE-->
<!-- <div *ngIf="fromUser">{{fromUser}}</div> -->
<div class="search row">
  <!-- <p class="search col">Search</p> -->
  <!-- <input class="inp search col" type="text" /> -->
  <mat-form-field appearance="outline" class="search col">
    <mat-label>SEARCH</mat-label>
    <input
      (keydown)="onChange()"
      matInput
      placeholder="SEARCH"
      [formControl]="search"
      [(ngModel)]="searchValue"
      (ngModelChange)="onChange()"
    />
    <mat-icon  matSuffix>search</mat-icon>
    <mat-hint>Search employee username</mat-hint>
  </mat-form-field>
  <button class="admin_btn btn col" (click)="filterByPosition('admin')">
    Admin
  </button>
  <button class="staff_btn btn col active" (click)="filterByPosition('staff')">
    Staff
  </button>
  <button class="driver_btn btn col" (click)="filterByPosition('driver')">
    Driver
  </button>
  <button class="helper_btn btn col" (click)="filterByPosition('helper')">
    Helper
  </button>
  <button class="all_btn btn col" (click)="filterByPosition('all')">All</button>
  <button *ngIf="!fromUser"(click)="openAddDialog()" class="add_btn btn col">Add</button>
</div>

<div class="table_size">
  <mat-progress-bar mode="indeterminate" [hidden]="hideProgressbar"></mat-progress-bar>

  <table>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">Position</th>
        <th scope="col">Contact No.</th>
        <th class="ac" scope="col" *ngIf="!fromUser">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of userList">
        <td data-label="Staff">{{ d.fname }} {{ d.lname }}</td>
        <td data-label="Username">{{ d.username }}</td>
        <td data-label="Position">{{ d.position }}</td>
        <td data-label="Contact Number">{{ d.contactno }}</td>
        <td data-label="Action" *ngIf="!fromUser">
          <button (click)="openEditDialog(d)" class="edit_btn col">
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="openDeleteDialog(d)" class="del_btn col">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </td>
      </tr>
      <!-- <tr>
            <td data-label="Staff">Jerry Tom</td>
            <td data-label="Contact Number">0978945612</td>
            <td data-label="Action">
                <button class="edit_btn col"><mat-icon>edit</mat-icon></button>
                <button class="del_btn col"><mat-icon>delete_outline</mat-icon></button>
            </td>
          </tr> -->
    </tbody>
  </table>
</div>
<!-- 
<div class="close">
  <button class="btn cls_btn">Close</button>
</div> -->

<!--HELPER TABLE-->
<!-- 
<div class="search row">
    <p class="search col">Search</p>
    <input class="inp search col" type="text">
    <button class="staff_btn btn col">Staff</button>
    <button class="helper_btn btn col active">Helper</button>
    <button class="driver_btn btn col">Driver</button>
    <button class="add_btn btn btn-primary col">Add</button>
</div>

<div class="table_size">
    <table>
        <thead>
          <tr>
            <th scope="col">Staff</th>
            <th scope="col">Contact Number</th>
            <th class="ac" scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label="Staff">Tom Jerry</td>
            <td data-label="Contact Number">0912345678</td>
            <td data-label="Action">
                <button class="edit_btn col"><mat-icon>edit</mat-icon></button>
                <button class="del_btn col"><mat-icon>delete_outline</mat-icon></button>
            </td>
            
          </tr>
          <tr>
            <td data-label="Staff">Jerry Tom</td>
            <td data-label="Contact Number">0978945612</td>
            <td data-label="Action"></td>
          </tr>
        </tbody>
      </table>

</div>

<div class="close">
    <button class="btn cls">Close</button>
</div> -->

<!--DRIVER TABLE-->
<!-- 

<div class="search row">
    <p class="search col">Search</p>
    <input class="inp search col" type="text">
    <button class="staff_btn btn col">Staff</button>
    <button class="helper_btn btn col">Helper</button>
    <button class="driver_btn btn col active">Driver</button>
    <button class="add_btn btn btn-primary col">Add</button>
</div>
<div class="table_size">
    <table>
        <thead>
          <tr>
            <th scope="col">Staff</th>
            <th scope="col">Contact Number</th>
            <th class="ac" scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label="Staff">Tom Jerry</td>
            <td data-label="Contact Number">0912345678</td>
            <td data-label="Action">
                <button class="edit_btn col"><mat-icon>edit</mat-icon></button>
                <button class="del_btn col"><mat-icon>delete_outline</mat-icon></button>
            </td>
            
          </tr>
          <tr>
            <td data-label="Staff">Jerry Tom</td>
            <td data-label="Contact Number">0978945612</td>
            <td data-label="Action"><button class="edit_btn col"><mat-icon>edit</mat-icon></button>
                <button class="del_btn col"><mat-icon>delete_outline</mat-icon></button></td>
          </tr>
        </tbody>
      </table>

</div>

<div class="close">
    <button class="btn cls">Close</button>
</div> -->
