.search{
    margin: 2%;
    padding: 10px;
    margin-top: 3%;
}
.inp{
    height: 30px;
    width: auto;
    margin-top: 3%;
}

.btn{
    height: 2%;
    margin: 2%;
    padding: 10px;
    border: none;
}

.staff_btn,.driver_btn,.helper_btn,.all_btn,.add_btn{
    text-decoration: underline;
}

.staff_btn:hover,.driver_btn:hover,.helper_btn:hover,.all_btn:hover{
    background-color: #10227A;
    color: white;
}

.staff_btn{
    margin-left: 10%;
}


