.row{
    margin: 5%;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    width: 249px;
    height: 209px;
}

.t_title{
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    
}

hr{
    border: 1px solid rgba(0, 0, 0, 0.59);
    width: 218px;
    height: 0px;
    margin-top: 18%;
}

.truck_svg{
    height: 46.75px !important;
    width: 45px !important;
    margin-top: 25%;
    margin-left: 5%;
}

.truck_number{
    margin-top: 32%;


    font-weight: 500;
    font-size: 48px;
    line-height: 20px;
}

.below{
    margin-top: 5%;
}

.num{
    margin-left: 30%;
}