<div class="add-dialog">
    <div class="title">
        <p>Truck Details</p>
    </div>

    <form>

        <div class="dia-content-main">
            <div class="dia-content row">
                <div class="dia-content row">
                    <p class="inps row col name">Truck Type</p><input class="inp col" >
                    <p class="col space"></p>
                    <p class="inps row col email">Max Load Capacity</p><input class="inp col">
                </div>
            
                <div class="dia-content row">
                    <p class="inps row col">Plate no.</p><input class="inp col" type="text">
                    <p class="col"></p>
                    <p class="inps row col">Engine no.</p><input class="inp col" type="text">
                </div>
            
                <div class="dia-content row">
                    <p class="inps row col">Chasis no.</p><input class="inp col" type="text">
                    <p class="col"></p>
                    <p class="inps row col">Year Model</p><input class="inp col" type="text">
                </div>
            </div>
           
        </div>
        
        <div class="add-btn">
            <button class="add_btn">ADD</button>
        </div>
    </form>
</div>