<body>
  <div class="center">
    <h1>Login</h1>
    <form #loginForm [formGroup]="loginFormGroup">
      <div class="txt_field">
        <input formControlName="username" type="text" required />
        <span></span>

        <label>Username</label>
      </div>
      <div class="txt_field">
        <input formControlName="password" type="password" required />
        <span></span>
        <label>Password</label>
      </div>

      <div class="pass">Forgot Password?</div>
      <a href="admin.html">
        <!-- <input type="submit" value="LOGIN" /> -->
        <button mat-raised-button (click)="login(loginFormGroup.value)" class="btn_login">LOGIN</button>
      </a>
      <div class="signup_link"></div>
      <div class="back">
        <!-- <a href="landingpage"><h1>Back</h1></a> -->
      </div>
    </form>
  </div>
</body>
