<section class="header">
  <nav>
    <h1>ALLAN BOY TRUCKING SERVICES Inc.</h1>
    <div class="nav-links">
      <ul>
        <li><a href="index.html">HOME</a></li>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">SERVICES</a></li>
        <li><a href="#">CONTACT</a></li>
        <li><a (click)="login()">LOGIN</a></li>
      </ul>
    </div>
  </nav>
  <div class="text-box">
    <h1>A Logistics Company in Palawan</h1>
    <p>That provide high quality services in palawan</p>
    <a href="" class="btn">Learn more</a>
  </div>
</section>

<section class="about">
  <h1>A few information About Us</h1>
  <p>
    Lorem ipsum dolor sit amet. Rem commodi dolor aut esse quis est voluptas
    iusto ad <br />
    accusamus voluptas? At praesentium molestiae qui impedit asperiores rem vero
    conse.<br />
    In neque galisum eos rerum voluptatum rem voluptatemvoluptatem et
    dignissimos verit.<br />
    aut dolorem adipisci quo error facilis.
  </p>
</section>

<div class="what">
  <h2>What we provide?</h2>
</div>

<section class="Info">
  <div class="row">
    <div class="services-col">
      <img src="../../../assets//images/truck1.jpg" />
      <p>
        Lorem ipsum dolor sit amet. Rem commodi dolor aut esse <br />
        est voluptas iusto ad accusamus voluptas? At praesentium<br />
        molestiae qui impedit asperiores rem vero consequatur.<br />
        galisum eos rerum voluptatum rem voluptatem voluptatem<br />
        veritatis aut dolorem adipisci quo error facilis ffsff.
      </p>
    </div>
    <div class="services-col">
      <img src="../../../assets/images/first.jpg" />
      <p>
        Lorem ipsum dolor sit amet. Rem commodi dolor aut esse <br />
        est voluptas iusto ad accusamus voluptas? At praesentium<br />
        molestiae qui impedit asperiores rem vero consequatur.<br />
        galisum eos rerum voluptatum rem voluptatem voluptatem<br />
        veritatis aut dolorem adipisci quo error facilis ffsff.
      </p>
    </div>
    <div class="services-col">
      <img src="../../../assets/images/truck.jpg" />
      <p>
        Lorem ipsum dolor sit amet. Rem commodi dolor aut esse <br />
        est voluptas iusto ad accusamus voluptas? At praesentium<br />
        molestiae qui impedit asperiores rem vero consequatur.<br />
        galisum eos rerum voluptatum rem voluptatem voluptatem<br />
        veritatis aut dolorem adipisci quo error facilis ffsff.
      </p>
    </div>
  </div>
</section>
<footer>
  <div class="footer">
    <h2>Contact us</h2>
    <p>Visit our Social media Accounts.</p>
    <ul class="icons">
      <li><a href="#"></a></li>
      <i class="fa-brands fa-facebook"></i>
      <li><a href="#"></a></li>
      <i class="fa-brands fa-twitter"></i>
      <li><a href="#"></a></li>
      <i class="fa-brands fa-instagram"></i>
      <li><a href="#"></a></li>
      <i class="fa-brands fa-linkedin"></i>
    </ul>
  </div>
  <div class="footer-bottom">
    <p>
      Copyright
      <i class="fa-thin fa-copyright"></i
      >2022.AllanBoyTruckingServices.Allrights reserved.
    </p>
  </div>
</footer>
