.detail-box {
  width: 800px;
}

.details {
  margin-left: 40px;
  margin-right: 40px;
}
.update-status {
  background-color: #0eb11e;
  border: none;
  text-align: center;
  vertical-align: top;
  margin-right: 5%;
  color: white;
}
.padding-box{
    padding: 20px;
}
